.orders-child {
    position: absolute;
    top: -0.5px;
    left: 263.5px;
    border-right: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1px;
    height: 781px;
  }
  .orders-item {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f9f6ef;
    width: 1440px;
    height: 60px;
  }
  .haze,
  .your-orders {
    position: absolute;
    top: 100px;
    left: 304px;
    font-size: var(--font-size-5xl);
    font-weight: 600;
  }
  .haze {
    top: 12px;
    left: 32px;
    letter-spacing: -0.04em;
  }
  .line-div,
  .orders-inner {
    position: absolute;
    top: 191.5px;
    left: 303.5px;
    border-top: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 1104px;
    height: 1px;
  }
  .line-div {
    top: 303.5px;
  }
  .my-products,
  .orders-child1 {
    position: absolute;
    top: 163px;
    left: 88px;
  }
  .orders-child1 {
    top: 430px;
    left: 261px;
    width: 0;
    height: 32px;
  }
  .home,
  .printing-methods {
    position: absolute;
    top: 101px;
    left: 88px;
  }
  .printing-methods {
    top: 230px;
  }
  .ddmmyyyy,
  .ddmmyyyy1,
  .search-by-order {
    position: absolute;
    top: 252px;
    left: 314px;
    color: var(--color-gainsboro-200);
  }
  .ddmmyyyy1,
  .search-by-order {
    left: 514px;
  }
  .search-by-order {
    left: 1070px;
    color: var(--color-gainsboro-100);
  }
  .orders1,
  .pricing-rules,
  .theme-builder {
    position: absolute;
    top: 298px;
    left: 88px;
  }
  .orders1,
  .theme-builder {
    top: 366px;
  }
  .orders1 {
    top: 434px;
    font-weight: 600;
  }
  .saved-designs,
  .settings {
    position: absolute;
    top: 501px;
    left: 88px;
  }
  .settings {
    top: 567px;
  }
  .saved-designs-icon,
  .settings-icon {
    position: absolute;
    height: 3.91%;
    width: 2.08%;
    top: 72.22%;
    right: 95.56%;
    bottom: 23.87%;
    left: 2.36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .saved-designs-icon {
    height: 3.84%;
    top: 63.76%;
    bottom: 32.39%;
  }
  .fi-3169263-icon {
    position: absolute;
    top: 362px;
    left: 33px;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }
  .fi-11482468-icon,
  .fi-925748-icon,
  .home-icon {
    position: absolute;
    height: 4.1%;
    width: 2.22%;
    top: 37.64%;
    right: 95.49%;
    bottom: 58.26%;
    left: 2.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .fi-11482468-icon,
  .home-icon {
    top: 55.06%;
    bottom: 40.85%;
  }
  .home-icon {
    height: 3.85%;
    width: 2.08%;
    top: 12.55%;
    right: 95.56%;
    bottom: 83.61%;
    left: 2.36%;
  }
  .grid-1-icon,
  .printer-1-icon {
    position: absolute;
    top: 160px;
    left: 34px;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }
  .printer-1-icon {
    top: 226px;
    left: 33px;
    width: 32px;
    height: 32px;
  }
  .help-center,
  .logout {
    position: absolute;
    top: 18px;
    left: 1353px;
  }
  .help-center {
    left: 1236px;
  }
  .orders-child2,
  .rectangle-div {
    position: absolute;
    top: 97px;
    border-radius: var(--br-8xs);
    height: 42px;
  }
  .rectangle-div {
    left: 1259px;
    background: linear-gradient(90deg, #ffc28c, #ea60d5 49.48%, #7d8dff);
    width: 149px;
  }
  .orders-child2 {
    left: 1114px;
    width: 137px;
  }
  .add-product {
    position: absolute;
    top: 106px;
    left: 1277px;
    font-weight: 600;
    color: var(--color-white);
  }
  .date,
  .date-from,
  .view-demos {
    position: absolute;
    top: 106px;
    left: 1139px;
  }
  .date,
  .date-from {
    top: 216px;
    left: 304px;
    font-weight: 600;
  }
  .date {
    top: 320px;
  }
  .customers,
  .date-to,
  .details,
  .order-number,
  .status {
    position: absolute;
    top: 320px;
    left: 504px;
    font-weight: 600;
  }
  .customers,
  .date-to,
  .details,
  .status {
    left: 661px;
  }
  .date-to,
  .details,
  .status {
    left: 799px;
  }
  .date-to,
  .details {
    left: 1317px;
  }
  .date-to {
    top: 216px;
    left: 504px;
  }
  .orders-child3,
  .orders-child4,
  .orders-child5 {
    position: absolute;
    top: 248px;
    left: 304px;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 165px;
    height: 32px;
  }
  .orders-child4,
  .orders-child5 {
    left: 504px;
  }
  .orders-child5 {
    left: 1062px;
    width: 346px;
  }
  .fi-2940436,
  .fi-29404361,
  .vector-icon {
    position: absolute;
    top: 254px;
    left: 314px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .fi-29404361,
  .vector-icon {
    left: 514px;
  }
  .vector-icon {
    height: 1.79%;
    width: 0.97%;
    top: 33.03%;
    right: 3.54%;
    bottom: 65.17%;
    left: 95.49%;
    max-width: 100%;
    max-height: 100%;
  }
  .orders {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 780px;
    
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray);
    font-family: var(--font-poppins);
  }
  